body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

h3 {
    color: #444;
    margin-top: 20px;
}

img {
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
